body,
html {
  height: 100%;
  margin: 0;
}

.container {
  display: grid;
  gap: 15px;
  /* grid:
    "header header header header header"
    "sidebar sidebar nav nav nav"
    "sidebar sidebar article article article"
    "sidebar sidebar article article article"
    "footer footer footer footer footer"; */
  /* grid-template-rows: repeat(10, 10%);
  grid-template-columns: repeat(10, 10%); */
  grid-template-columns: 246.5px 739.5px;
  grid-template-rows: 69.22px 69.22px 346.1px 69.22px;
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #006157;
  /* grid-area: header; */
  /* grid-area: 1 / 1 / span 1 / span 10; */
  grid-area: 1 / 1 / 1 / -1;
}

.sidebar {
  background-color: #005b94;
  /* grid-area: sidebar;
  grid-area: 2 / 1 / span 8 / span 3; */
  grid-area: 2 / 1 / 4 / 1;
}

.nav {
  background-color: #642cde;
  /* grid-area: nav;
  grid-area: 2 / 4 / span 1 / span 7; */
  grid-area: 2 / 2 / 2 / -1;
}

.article {
  background-color: #7e1dc3;
  /* grid-area: article;
  grid-area: 3 / 4 / span 7 / -1; */
  grid-area: 3 / 2 / 4 /-1;
}

.footer {
  background-color: #393f4d;
  /* grid-area: footer;
  grid-area: -1 / 1 / -2 / -1; */
  grid-area: 4 / 1 / 4 / -1;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}
